In [1]:
# This script takes the Maddison and Polity datasets, and interpolates or imputes missing values
# It then generates a dataframe in which each row is a year since 1900 for a country, with Maddison, Polity and combat data

In [2]:
import pandas as pd
import numpy as np
import datetime
import dateutil.parser
import re
import statsmodels.api as sm
import statsmodels.formula.api as smf
from tqdm import tqdm_notebook
pd.options.mode.chained_assignment = None

## Step 1: import and interpolate Maddison regional data ##

In [3]:
# Dataframe containing Maddison estimates for each region in each year, with some adjustments (see methodology)
maddison_region_df = pd.read_csv("source_data/maddison_economic_data/maddison_cleaned_regions.csv")

In [4]:
from scipy.interpolate import interp1d

In [5]:
# Create linear interpolations for Maddison population and GDP per capita figures in each region
interpolated_gdp_per_capita_list = []
interpolated_population_list = []

# Loop through each region
for r in maddison_region_df["region"].unique():
    
    # Create "x" series, of the years for the population and GDP per capita figures
    gdp_x = maddison_region_df[(maddison_region_df["region"]==r) & (maddison_region_df["gdp_per_capita"]>=0)]["year"]
    pop_x = maddison_region_df[(maddison_region_df["region"]==r) & (maddison_region_df["population"]>=0)]["year"]
    
    # Create "y" series, of the actual figures for population and GDP per capita
    gdp_y = maddison_region_df[(maddison_region_df["region"]==r) & (maddison_region_df["gdp_per_capita"]>=0)]["gdp_per_capita"]
    pop_y = maddison_region_df[(maddison_region_df["region"]==r) & (maddison_region_df["population"]>=0)]["population"]
    
    # Create interpolation functions for the population and GDP per capita series
    gdp_f = interp1d(gdp_x, gdp_y, fill_value="extrapolate")
    pop_f = interp1d(pop_x, pop_y, fill_value="extrapolate")
    
    # Use interpolation functions on all years
    years = [y for y in range(1900,2018)]
    interpolated_gdp_per_capita_list = interpolated_gdp_per_capita_list + list(gdp_f(years))
    interpolated_population_list = interpolated_population_list + list(pop_f(years))
maddison_region_df["interpolated_gdp_per_capita"] = interpolated_gdp_per_capita_list
maddison_region_df["interpolated_population"] = interpolated_population_list

In [6]:
maddison_region_df

,year,region,gdp_per_capita,population,interpolated_gdp_per_capita,interpolated_population
0,1900,Africa,958.0,135290.0,958.00,135290.00
1,1901,Africa,NaN,NaN,970.76,137093.88
2,1902,Africa,NaN,NaN,983.52,138897.76
3,1903,Africa,NaN,NaN,996.28,140701.64
4,1904,Africa,NaN,NaN,1009.04,142505.52
5,1905,Africa,NaN,NaN,1021.80,144309.40
6,1906,Africa,NaN,NaN,1034.56,146113.28
7,1907,Africa,NaN,NaN,1047.32,147917.16
8,1908,Africa,NaN,NaN,1060.08,149721.04
9,1909,Africa,NaN,NaN,1072.84,151524.92
10,1910,Africa,NaN,NaN,1085.60,153328.80
11,1911,Africa,NaN,NaN,1098.36,155132.68
12,1912,Africa,NaN,NaN,1111.12,156936.56
13,1913,Africa,NaN,NaN,1123.88,158740.44
14,1914,Africa,NaN,NaN,1136.64,160544.32
15,1915,Africa,NaN,NaN,1149.40,162348.20
16,1916,Africa,NaN,NaN,1162.16,164152.08
17,1917,Africa,NaN,NaN,1174.92,165955.96
18,1918,Africa,NaN,NaN,1187.68,167759.84
19,1919,Africa,NaN,NaN,1200.44,169563.72
20,1920,Africa,NaN,NaN,1213.20,171367.60
21,1921,Africa,NaN,NaN,1225.96,173171.48
22,1922,Africa,NaN,NaN,1238.72,174975.36
23,1923,Africa,NaN,NaN,1251.48,176779.24
24,1924,Africa,NaN,NaN,1264.24,178583.12
25,1925,Africa,NaN,NaN,1277.00,180387.00
26,1926,Africa,NaN,NaN,1289.76,182190.88
27,1927,Africa,NaN,NaN,1302.52,183994.76
28,1928,Africa,NaN,NaN,1315.28,185798.64
29,1929,Africa,NaN,NaN,1328.04,187602.52
...,...,...,...,...,...,...
560,1988,Americas,7010.0,423983.0,7010.00,423983.00
561,1989,Americas,6937.0,432228.0,6937.00,432228.00
562,1990,Americas,6984.0,440282.0,6984.00,440282.00
563,1991,Americas,7177.0,448271.0,7177.00,448271.00
564,1992,Americas,7437.0,456073.0,7437.00,456073.00
565,1993,Americas,7583.0,463847.0,7583.00,463847.00
566,1994,Americas,7963.0,471702.0,7963.00,471702.00
567,1995,Americas,8159.0,479439.0,8159.00,479439.00
568,1996,Americas,8712.0,487046.0,8712.00,487046.00
569,1997,Americas,8762.0,494466.0,8762.00,494466.00
570,1998,Americas,8663.0,501879.0,8663.00,501879.00
571,1999,Americas,8447.0,509021.0,8447.00,509021.00
572,2000,Americas,8728.0,516150.0,8728.00,516150.00
573,2001,Americas,8604.0,523130.0,8604.00,523130.00
574,2002,Americas,8483.0,530097.0,8483.00,530097.00
575,2003,Americas,8555.0,537051.0,8555.00,537051.00
576,2004,Americas,9065.0,543879.0,9065.00,543879.00
577,2005,Americas,9666.0,550589.0,9666.00,550589.00
578,2006,Americas,10394.0,557186.0,10394.00,557186.00
579,2007,Americas,11135.0,563752.0,11135.00,563752.00
580,2008,Americas,11841.0,570412.0,11841.00,570412.00
581,2009,Americas,11573.0,577060.0,11573.00,577060.00
582,2010,Americas,12813.0,583233.0,12813.00,583233.00
583,2011,Americas,13899.0,589575.0,13899.00,589575.00
584,2012,Americas,13949.0,595819.0,13949.00,595819.00
585,2013,Americas,14193.0,601971.0,14193.00,601971.00
586,2014,Americas,14140.0,608041.0,14140.00,608041.00
587,2015,Americas,14400.0,614085.0,14400.00,614085.00
588,2016,Americas,13470.0,620068.0,13470.00,620068.00
589,2017,Americas,NaN,NaN,12540.00,626051.00

## Step 2: import and interpolate Maddison country data ##

In [7]:
# Dataframe containing Maddison estimates for each country in each year, with some adjustments (see methodology)
maddison_country_df = pd.read_excel("source_data/maddison_economic_data/maddison_country_data.xlsx",sheetname="Full data")

In [8]:
# This dataframe lists all countries that have Maddison economic data and Polity regime data, with both Maddison and COW codes
country_converter_df = pd.read_csv("source_data/maddison_economic_data/country_converter.csv")

In [9]:
# Create a list of lists, where each row contains a country's region and existing Maddison data
country_year_lists = []
for c in tqdm_notebook(list(maddison_country_df["countrycode"].unique())): # Loop through countries
    country_name = maddison_country_df[maddison_country_df["countrycode"]==c].iloc[0]["country"]
    country_region = country_converter_df[country_converter_df["participant_maddison_code"]==c].iloc[0]["participant_region"]
    for y in years: # Loop through years
        country_population = None
        country_gdp_per_capita = None
        try:
            # Find relevant country row, if it exists
            country_year_row = maddison_country_df[(maddison_country_df["countrycode"]==c) & (maddison_country_df["year"]==y)].iloc[0]
            country_population = country_year_row["pop"] * 1000
            country_gdp_per_capita = country_year_row["cgdppc"]
        except Exception:
            pass
        country_year_lists.append([c,country_name,country_region,y,country_population,country_gdp_per_capita])

In [10]:
maddison_country_years_df = pd.DataFrame(country_year_lists,columns=["maddison_code","country_name","country_region","year","population","gdp_per_capita"])

In [11]:
# Function that interpolates a country's GDP per capita
def get_country_historical_gdp_per_capita(code):
    
    # Select relevant country rows from maddison_country_years_df, and relevant region rows from maddison_region_df
    country_rows = maddison_country_years_df[maddison_country_years_df["maddison_code"]==code]
    country_region = country_rows.iloc[0]["country_region"]
    region_rows = maddison_region_df[maddison_region_df["region"]==country_region]
    
    # Find the first year in which the country has GDP per capita figures
    first_gdp_year = np.min(country_rows[country_rows["gdp_per_capita"]>0]["year"])
    
    # Identify whether the country has any GDP per capita figures for 1900
    if not country_rows[country_rows["year"]==1900].iloc[0]["gdp_per_capita"] > 0:
        
        # If not, then create a figure for 1900 using the growth rate of the region (see methodology)
        gdp_x = [1900] # Year for 1900
        gdp_y = []
        
        # Find the country's first year with GDP per capita figures
        first_gdp_figure = country_rows[country_rows["year"]==first_gdp_year].iloc[0]["gdp_per_capita"] 
        
        # For the relevant region, calculate the ratio between its 1900 GDP per capita and its GDP per capita in the country's first year
        region_gdp_ratio = region_rows[region_rows["year"]==1900].iloc[0]["interpolated_gdp_per_capita"] / region_rows[region_rows["year"]==first_gdp_year].iloc[0]["interpolated_gdp_per_capita"]
        
        # Use this ratio to estimate a 1900 GDP per capita figure for the country
        gdp_y.append(first_gdp_figure*region_gdp_ratio) 
        
        # Create an "x" series of years and a "y" series of GDP per capita figures
        gdp_x = gdp_x + list(country_rows[(country_rows["gdp_per_capita"]>0) & (country_rows["year"]>1900)]["year"])
        gdp_y = gdp_y + list(country_rows[(country_rows["gdp_per_capita"]>0) & (country_rows["year"]>1900)]["gdp_per_capita"])
        
        # Create an interpolation function, and run it over all years 1900-2017
        gdp_f = interp1d(gdp_x, gdp_y, fill_value="extrapolate")
        gdp_per_capita_list = list(gdp_f(years))
        
    else:
        
        # If the country does have GDP per capita figures for 1900, simply create a linear interpolation
        gdp_x = list(country_rows[country_rows["gdp_per_capita"]>0]["year"])
        gdp_y = list(country_rows[country_rows["gdp_per_capita"]>0]["gdp_per_capita"])
        gdp_f = interp1d(gdp_x, gdp_y, fill_value="extrapolate")
        gdp_per_capita_list = list(gdp_f(years))
    return gdp_per_capita_list

In [12]:
# Function that interpolates a country's population
def get_country_historical_population(code):
    
    # Select relevant country rows from maddison_country_years_df, and relevant region rows from maddison_region_df
    country_rows = maddison_country_years_df[maddison_country_years_df["maddison_code"]==code]
    country_region = country_rows.iloc[0]["country_region"]
    region_rows = maddison_region_df[maddison_region_df["region"]==country_region]
    
    # Find the first year in which the country has population figures
    first_pop_year = np.min(country_rows[country_rows["population"]>0]["year"])
    
    # Identify whether the country has any population figures for 1900
    if not country_rows[country_rows["year"]==1900].iloc[0]["population"] > 0:
        
        # If not, then create a figure for 1900 using the growth rate of the region (see methodology)
        pop_x = [1900]
        pop_y = []
        
        # Find the country's first year with population figures
        first_pop_figure = country_rows[country_rows["year"]==first_pop_year].iloc[0]["population"]
        
        # For the relevant region, calculate the ratio between its 1900 population and its population in the country's first year
        region_pop_ratio = region_rows[region_rows["year"]==1900].iloc[0]["interpolated_population"] / region_rows[region_rows["year"]==first_pop_year].iloc[0]["interpolated_population"]
        
        # Use this ratio to estimate a 1900 population figure for the country
        pop_y.append(first_pop_figure*region_pop_ratio)
        
        # Create an "x" series of years and a "y" series of population figures
        pop_x = pop_x + list(country_rows[(country_rows["population"]>0) & (country_rows["year"]>1900)]["year"])
        pop_y = pop_y + list(country_rows[(country_rows["population"]>0) & (country_rows["year"]>1900)]["population"])
        
        # Create an interpolation function, and run it over all years 1900-2017
        pop_f = interp1d(pop_x, pop_y, fill_value="extrapolate")
        population_list = list(pop_f(years))
        
    else:
        
         # If the country does have GDP population figures for 1900, simply create a linear interpolation
        pop_x = list(country_rows[country_rows["population"]>0]["year"])
        pop_y = list(country_rows[country_rows["population"]>0]["population"])
        pop_f = interp1d(pop_x, pop_y, fill_value="extrapolate")
        population_list = list(pop_f(years))
    return population_list

In [13]:
# Use the interpolation functions for GDP per capita and population over all countries
# Create a dataframe containing a row for each country in each year, with interpolated Maddison figures
country_years_gdp_per_capita_list = []
country_years_population_list = []
for c in list(maddison_country_years_df["maddison_code"].unique()):
    country_years_gdp_per_capita_list = country_years_gdp_per_capita_list + get_country_historical_gdp_per_capita(c)
    country_years_population_list = country_years_population_list + get_country_historical_population(c)
maddison_country_years_df["interpolated_gdp_per_capita"] = country_years_gdp_per_capita_list
maddison_country_years_df["interpolated_population"] = country_years_population_list

In [14]:
maddison_country_years_df

,maddison_code,country_name,country_region,year,population,gdp_per_capita,interpolated_gdp_per_capita,interpolated_population
0,AFG,Afghanistan,Middle East,1900,NaN,NaN,1435.601006,4.883533e+06
1,AFG,Afghanistan,Middle East,1901,NaN,NaN,1454.728986,4.948646e+06
2,AFG,Afghanistan,Middle East,1902,NaN,NaN,1473.856966,5.013758e+06
3,AFG,Afghanistan,Middle East,1903,NaN,NaN,1492.984946,5.078871e+06
4,AFG,Afghanistan,Middle East,1904,NaN,NaN,1512.112925,5.143984e+06
5,AFG,Afghanistan,Middle East,1905,NaN,NaN,1531.240905,5.209097e+06
6,AFG,Afghanistan,Middle East,1906,NaN,NaN,1550.368885,5.274210e+06
7,AFG,Afghanistan,Middle East,1907,NaN,NaN,1569.496865,5.339323e+06
8,AFG,Afghanistan,Middle East,1908,NaN,NaN,1588.624845,5.404436e+06
9,AFG,Afghanistan,Middle East,1909,NaN,NaN,1607.752825,5.469549e+06
10,AFG,Afghanistan,Middle East,1910,NaN,NaN,1626.880805,5.534661e+06
11,AFG,Afghanistan,Middle East,1911,NaN,NaN,1646.008785,5.599774e+06
12,AFG,Afghanistan,Middle East,1912,NaN,NaN,1665.136764,5.664887e+06
13,AFG,Afghanistan,Middle East,1913,5730000.0,NaN,1684.264744,5.730000e+06
14,AFG,Afghanistan,Middle East,1914,NaN,NaN,1703.392724,5.795405e+06
15,AFG,Afghanistan,Middle East,1915,NaN,NaN,1722.520704,5.860811e+06
16,AFG,Afghanistan,Middle East,1916,NaN,NaN,1741.648684,5.926216e+06
17,AFG,Afghanistan,Middle East,1917,NaN,NaN,1760.776664,5.991622e+06
18,AFG,Afghanistan,Middle East,1918,NaN,NaN,1779.904644,6.057027e+06
19,AFG,Afghanistan,Middle East,1919,NaN,NaN,1799.032624,6.122432e+06
20,AFG,Afghanistan,Middle East,1920,NaN,NaN,1818.160604,6.187838e+06
21,AFG,Afghanistan,Middle East,1921,NaN,NaN,1837.288583,6.253243e+06
22,AFG,Afghanistan,Middle East,1922,NaN,NaN,1856.416563,6.318649e+06
23,AFG,Afghanistan,Middle East,1923,NaN,NaN,1875.544543,6.384054e+06
24,AFG,Afghanistan,Middle East,1924,NaN,NaN,1894.672523,6.449459e+06
25,AFG,Afghanistan,Middle East,1925,NaN,NaN,1913.800503,6.514865e+06
26,AFG,Afghanistan,Middle East,1926,NaN,NaN,1932.928483,6.580270e+06
27,AFG,Afghanistan,Middle East,1927,NaN,NaN,1952.056463,6.645676e+06
28,AFG,Afghanistan,Middle East,1928,NaN,NaN,1971.184443,6.711081e+06
29,AFG,Afghanistan,Middle East,1929,NaN,NaN,1990.312422,6.776486e+06
...,...,...,...,...,...,...,...,...
20974,YPR,Yemen (South),Middle East,1988,2318200.0,2722.0,2722.000000,2.318200e+06
20975,YPR,Yemen (South),Middle East,1989,2397200.0,2724.0,2724.000000,2.397200e+06
20976,YPR,Yemen (South),Middle East,1990,2483200.0,2630.0,2630.000000,2.483200e+06
20977,YPR,Yemen (South),Middle East,1991,2609800.0,2660.0,2660.000000,2.609800e+06
20978,YPR,Yemen (South),Middle East,1992,2749800.0,2732.0,2732.000000,2.749800e+06
20979,YPR,Yemen (South),Middle East,1993,2895800.0,2698.0,2698.000000,2.895800e+06
20980,YPR,Yemen (South),Middle East,1994,3038000.0,2745.0,2745.000000,3.038000e+06
20981,YPR,Yemen (South),Middle East,1995,3169400.0,2780.0,2780.000000,3.169400e+06
20982,YPR,Yemen (South),Middle East,1996,3287400.0,2805.0,2805.000000,3.287400e+06
20983,YPR,Yemen (South),Middle East,1997,3394400.0,2858.0,2858.000000,3.394400e+06
20984,YPR,Yemen (South),Middle East,1998,3494000.0,2944.0,2944.000000,3.494000e+06
20985,YPR,Yemen (South),Middle East,1999,3592600.0,2971.0,2971.000000,3.592600e+06
20986,YPR,Yemen (South),Middle East,2000,3694400.0,3068.0,3068.000000,3.694400e+06
20987,YPR,Yemen (South),Middle East,2001,3800600.0,3096.0,3096.000000,3.800600e+06
20988,YPR,Yemen (South),Middle East,2002,3909600.0,3127.0,3127.000000,3.909600e+06
20989,YPR,Yemen (South),Middle East,2003,4022200.0,3154.0,3154.000000,4.022200e+06
20990,YPR,Yemen (South),Middle East,2004,4138000.0,3187.0,3187.000000,4.138000e+06
20991,YPR,Yemen (South),Middle East,2005,4256800.0,3272.0,3272.000000,4.256800e+06
20992,YPR,Yemen (South),Middle East,2006,4379200.0,3307.0,3307.000000,4.379200e+06
20993,YPR,Yemen (South),Middle East,2007,4505400.0,3500.0,3500.000000,4.505400e+06
20994,YPR,Yemen (South),Middle East,2008,4634400.0,3759.0,3759.000000,4.634400e+06
20995,YPR,Yemen (South),Middle East,2009,4765400.0,3774.0,3774.000000,4.765400e+06
20996,YPR,Yemen (South),Middle East,2010,4897800.0,4363.0,4363.000000,4.897800e+06
20997,YPR,Yemen (South),Middle East,2011,5031400.0,4088.0,4088.000000,5.031400e+06
20998,YPR,Yemen (South),Middle East,2012,5165800.0,3707.0,3707.000000,5.165800e+06
20999,YPR,Yemen (South),Middle East,2013,5300800.0,3847.0,3847.000000,5.300800e+06
21000,YPR,Yemen (South),Middle East,2014,5436000.0,3558.0,3558.000000,5.436000e+06
21001,YPR,Yemen (South),Middle East,2015,5570600.0,2496.0,2496.000000,5.570600e+06
21002,YPR,Yemen (South),Middle East,2016,5704600.0,2199.0,2199.000000,5.704600e+06
21003,YPR,Yemen (South),Middle East,2017,NaN,NaN,1902.000000,5.838600e+06

## Step 3: join historical conflict data to Maddison country data ##

In [15]:
# Dataframe which contains the death tolls for each country in each conflict in each year
country_conflict_years_df = pd.read_csv("output_data/country_conflict_years_df.csv",encoding="latin1")

In [16]:
# robustness_check_conflict_types can be used to isolate particular types of conflict for robustness checks
robustness_check_conflict_types = ["Interstate", "Extrasystemic", "Internal", "Internationalised internal"]
country_conflict_years_df = country_conflict_years_df[country_conflict_years_df["state_conflict_type"].isin(robustness_check_conflict_types)]

In [17]:
# Create series of death tolls in each country in each year, to append to the Maddison country years dataframe
maddison_country_year_conflict_deaths_list = []

# Loop through each row in maddison_country_years_df, which is a country in a year
for i,r in tqdm_notebook(maddison_country_years_df.iterrows(),total=maddison_country_years_df.shape[0]):
    country_code = r["maddison_code"]
    country_year = r["year"]
    maddison_country_year_conflict_deaths = 0
    
    try:
        # Find all rows in country_conflict_years_df for that country in that year, and sum the deaths
        maddison_country_year_conflict_rows = country_conflict_years_df[(country_conflict_years_df["participant_maddison_code"]==country_code) & (country_conflict_years_df["year"]==country_year)]
        maddison_country_year_conflict_deaths = np.sum(maddison_country_year_conflict_rows["year_deaths"])
    except Exception:
        pass
    maddison_country_year_conflict_deaths_list.append(maddison_country_year_conflict_deaths)
    
# Append the series to maddison_country_years_df
maddison_country_years_df["country_year_conflict_deaths"] = maddison_country_year_conflict_deaths_list

In [18]:
# Create column for maddison_country_years_df that calculates the deaths per 100,000 people
maddison_country_years_df["country_year_conflict_death_rate"] = maddison_country_years_df["country_year_conflict_deaths"] / maddison_country_years_df["interpolated_population"]

# Create column for maddison_country_years_df that calculates whether a country had more than 100 deaths in a year
# This threshold will be used to measure whether a country fights in a conflict or not
maddison_country_years_df["country_involved_in_conflict"] = 1*(maddison_country_years_df["country_year_conflict_deaths"] >= 100)
maddison_country_years_df

,maddison_code,country_name,country_region,year,population,gdp_per_capita,interpolated_gdp_per_capita,interpolated_population,country_year_conflict_deaths,country_year_conflict_death_rate,country_involved_in_conflict
0,AFG,Afghanistan,Middle East,1900,NaN,NaN,1435.601006,4.883533e+06,0.0,0.000000,0
1,AFG,Afghanistan,Middle East,1901,NaN,NaN,1454.728986,4.948646e+06,0.0,0.000000,0
2,AFG,Afghanistan,Middle East,1902,NaN,NaN,1473.856966,5.013758e+06,0.0,0.000000,0
3,AFG,Afghanistan,Middle East,1903,NaN,NaN,1492.984946,5.078871e+06,0.0,0.000000,0
4,AFG,Afghanistan,Middle East,1904,NaN,NaN,1512.112925,5.143984e+06,0.0,0.000000,0
5,AFG,Afghanistan,Middle East,1905,NaN,NaN,1531.240905,5.209097e+06,0.0,0.000000,0
6,AFG,Afghanistan,Middle East,1906,NaN,NaN,1550.368885,5.274210e+06,0.0,0.000000,0
7,AFG,Afghanistan,Middle East,1907,NaN,NaN,1569.496865,5.339323e+06,0.0,0.000000,0
8,AFG,Afghanistan,Middle East,1908,NaN,NaN,1588.624845,5.404436e+06,0.0,0.000000,0
9,AFG,Afghanistan,Middle East,1909,NaN,NaN,1607.752825,5.469549e+06,0.0,0.000000,0
10,AFG,Afghanistan,Middle East,1910,NaN,NaN,1626.880805,5.534661e+06,0.0,0.000000,0
11,AFG,Afghanistan,Middle East,1911,NaN,NaN,1646.008785,5.599774e+06,0.0,0.000000,0
12,AFG,Afghanistan,Middle East,1912,NaN,NaN,1665.136764,5.664887e+06,0.0,0.000000,0
13,AFG,Afghanistan,Middle East,1913,5730000.0,NaN,1684.264744,5.730000e+06,0.0,0.000000,0
14,AFG,Afghanistan,Middle East,1914,NaN,NaN,1703.392724,5.795405e+06,0.0,0.000000,0
15,AFG,Afghanistan,Middle East,1915,NaN,NaN,1722.520704,5.860811e+06,0.0,0.000000,0
16,AFG,Afghanistan,Middle East,1916,NaN,NaN,1741.648684,5.926216e+06,0.0,0.000000,0
17,AFG,Afghanistan,Middle East,1917,NaN,NaN,1760.776664,5.991622e+06,0.0,0.000000,0
18,AFG,Afghanistan,Middle East,1918,NaN,NaN,1779.904644,6.057027e+06,0.0,0.000000,0
19,AFG,Afghanistan,Middle East,1919,NaN,NaN,1799.032624,6.122432e+06,1000.0,0.000163,1
20,AFG,Afghanistan,Middle East,1920,NaN,NaN,1818.160604,6.187838e+06,0.0,0.000000,0
21,AFG,Afghanistan,Middle East,1921,NaN,NaN,1837.288583,6.253243e+06,0.0,0.000000,0
22,AFG,Afghanistan,Middle East,1922,NaN,NaN,1856.416563,6.318649e+06,0.0,0.000000,0
23,AFG,Afghanistan,Middle East,1923,NaN,NaN,1875.544543,6.384054e+06,0.0,0.000000,0
24,AFG,Afghanistan,Middle East,1924,NaN,NaN,1894.672523,6.449459e+06,750.0,0.000116,1
25,AFG,Afghanistan,Middle East,1925,NaN,NaN,1913.800503,6.514865e+06,750.0,0.000115,1
26,AFG,Afghanistan,Middle East,1926,NaN,NaN,1932.928483,6.580270e+06,0.0,0.000000,0
27,AFG,Afghanistan,Middle East,1927,NaN,NaN,1952.056463,6.645676e+06,0.0,0.000000,0
28,AFG,Afghanistan,Middle East,1928,NaN,NaN,1971.184443,6.711081e+06,9375.0,0.001397,1
29,AFG,Afghanistan,Middle East,1929,NaN,NaN,1990.312422,6.776486e+06,9375.0,0.001383,1
...,...,...,...,...,...,...,...,...,...,...,...
20974,YPR,Yemen (South),Middle East,1988,2318200.0,2722.0,2722.000000,2.318200e+06,0.0,0.000000,0
20975,YPR,Yemen (South),Middle East,1989,2397200.0,2724.0,2724.000000,2.397200e+06,0.0,0.000000,0
20976,YPR,Yemen (South),Middle East,1990,2483200.0,2630.0,2630.000000,2.483200e+06,0.0,0.000000,0
20977,YPR,Yemen (South),Middle East,1991,2609800.0,2660.0,2660.000000,2.609800e+06,0.0,0.000000,0
20978,YPR,Yemen (South),Middle East,1992,2749800.0,2732.0,2732.000000,2.749800e+06,0.0,0.000000,0
20979,YPR,Yemen (South),Middle East,1993,2895800.0,2698.0,2698.000000,2.895800e+06,0.0,0.000000,0
20980,YPR,Yemen (South),Middle East,1994,3038000.0,2745.0,2745.000000,3.038000e+06,0.0,0.000000,0
20981,YPR,Yemen (South),Middle East,1995,3169400.0,2780.0,2780.000000,3.169400e+06,0.0,0.000000,0
20982,YPR,Yemen (South),Middle East,1996,3287400.0,2805.0,2805.000000,3.287400e+06,0.0,0.000000,0
20983,YPR,Yemen (South),Middle East,1997,3394400.0,2858.0,2858.000000,3.394400e+06,0.0,0.000000,0
20984,YPR,Yemen (South),Middle East,1998,3494000.0,2944.0,2944.000000,3.494000e+06,0.0,0.000000,0
20985,YPR,Yemen (South),Middle East,1999,3592600.0,2971.0,2971.000000,3.592600e+06,0.0,0.000000,0
20986,YPR,Yemen (South),Middle East,2000,3694400.0,3068.0,3068.000000,3.694400e+06,0.0,0.000000,0
20987,YPR,Yemen (South),Middle East,2001,3800600.0,3096.0,3096.000000,3.800600e+06,0.0,0.000000,0
20988,YPR,Yemen (South),Middle East,2002,3909600.0,3127.0,3127.000000,3.909600e+06,0.0,0.000000,0
20989,YPR,Yemen (South),Middle East,2003,4022200.0,3154.0,3154.000000,4.022200e+06,0.0,0.000000,0
20990,YPR,Yemen (South),Middle East,2004,4138000.0,3187.0,3187.000000,4.138000e+06,0.0,0.000000,0
20991,YPR,Yemen (South),Middle East,2005,4256800.0,3272.0,3272.000000,4.256800e+06,0.0,0.000000,0
20992,YPR,Yemen (South),Middle East,2006,4379200.0,3307.0,3307.000000,4.379200e+06,0.0,0.000000,0
20993,YPR,Yemen (South),Middle East,2007,4505400.0,3500.0,3500.000000,4.505400e+06,0.0,0.000000,0
20994,YPR,Yemen (South),Middle East,2008,4634400.0,3759.0,3759.000000,4.634400e+06,0.0,0.000000,0
20995,YPR,Yemen (South),Middle East,2009,4765400.0,3774.0,3774.000000,4.765400e+06,0.0,0.000000,0
20996,YPR,Yemen (South),Middle East,2010,4897800.0,4363.0,4363.000000,4.897800e+06,0.0,0.000000,0
20997,YPR,Yemen (South),Middle East,2011,5031400.0,4088.0,4088.000000,5.031400e+06,0.0,0.000000,0
20998,YPR,Yemen (South),Middle East,2012,5165800.0,3707.0,3707.000000,5.165800e+06,0.0,0.000000,0
20999,YPR,Yemen (South),Middle East,2013,5300800.0,3847.0,3847.000000,5.300800e+06,0.0,0.000000,0
21000,YPR,Yemen (South),Middle East,2014,5436000.0,3558.0,3558.000000,5.436000e+06,0.0,0.000000,0
21001,YPR,Yemen (South),Middle East,2015,5570600.0,2496.0,2496.000000,5.570600e+06,0.0,0.000000,0
21002,YPR,Yemen (South),Middle East,2016,5704600.0,2199.0,2199.000000,5.704600e+06,0.0,0.000000,0
21003,YPR,Yemen (South),Middle East,2017,NaN,NaN,1902.000000,5.838600e+06,0.0,0.000000,0

## Step 4: join historical conflict to Polity 4 country data

In [19]:
# Dataframe containing Polity scores of democracy and autocracy for each country in each year
polity_df = pd.read_csv("source_data/polity_4_democracy_data/polity_4_democracy_scores.csv")

In [20]:
polity_df

,cyear,ccode,scode,country,year,flag,fragment,democ,autoc,polity,...,interim,bmonth,bday,byear,bprec,post,change,d4,sf,regtrans
0,21800,2,USA,United States,1800,0,NaN,7,3,4,...,NaN,1.0,1.0,1800.0,1.0,4.0,88.0,1.0,NaN,NaN
1,21801,2,USA,United States,1801,0,NaN,7,3,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21802,2,USA,United States,1802,0,NaN,7,3,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21803,2,USA,United States,1803,0,NaN,7,3,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,21804,2,USA,United States,1804,0,NaN,7,3,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,21805,2,USA,United States,1805,0,NaN,7,3,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,21806,2,USA,United States,1806,0,NaN,7,3,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,21807,2,USA,United States,1807,0,NaN,7,3,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,21808,2,USA,United States,1808,0,NaN,7,3,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,21809,2,USA,United States,1809,0,NaN,9,0,9,...,NaN,3.0,5.0,1809.0,1.0,9.0,5.0,1.0,NaN,2.0
10,21810,2,USA,United States,1810,0,NaN,9,0,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,21811,2,USA,United States,1811,0,NaN,9,0,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,21812,2,USA,United States,1812,0,NaN,9,0,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,21813,2,USA,United States,1813,0,NaN,9,0,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,21814,2,USA,United States,1814,0,NaN,9,0,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,21815,2,USA,United States,1815,0,NaN,9,0,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,21816,2,USA,United States,1816,0,NaN,9,0,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,21817,2,USA,United States,1817,0,NaN,9,0,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,21818,2,USA,United States,1818,0,NaN,9,0,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,21819,2,USA,United States,1819,0,NaN,9,0,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,21820,2,USA,United States,1820,0,NaN,9,0,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,21821,2,USA,United States,1821,0,NaN,9,0,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,21822,2,USA,United States,1822,0,NaN,9,0,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,21823,2,USA,United States,1823,0,NaN,9,0,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,21824,2,USA,United States,1824,0,NaN,9,0,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,21825,2,USA,United States,1825,0,NaN,9,0,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,21826,2,USA,United States,1826,0,NaN,9,0,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,21827,2,USA,United States,1827,0,NaN,9,0,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,21828,2,USA,United States,1828,0,NaN,9,0,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,21829,2,USA,United States,1829,0,NaN,9,0,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17365,9501988,950,FJI,Fiji,1988,0,NaN,0,3,-3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17366,9501989,950,FJI,Fiji,1989,0,NaN,0,3,-3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17367,9501990,950,FJI,Fiji,1990,0,NaN,6,1,5,...,NaN,7.0,26.0,1990.0,1.0,5.0,8.0,1.0,NaN,3.0
17368,9501991,950,FJI,Fiji,1991,0,NaN,6,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17369,9501992,950,FJI,Fiji,1992,0,NaN,6,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17370,9501993,950,FJI,Fiji,1993,0,NaN,6,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17371,9501994,950,FJI,Fiji,1994,0,NaN,6,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17372,9501995,950,FJI,Fiji,1995,0,NaN,6,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17373,9501996,950,FJI,Fiji,1996,0,NaN,6,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17374,9501997,950,FJI,Fiji,1997,0,NaN,6,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17375,9501998,950,FJI,Fiji,1998,0,NaN,6,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17376,9501999,950,FJI,Fiji,1999,0,NaN,7,1,6,...,NaN,5.0,16.0,1999.0,3.0,6.0,1.0,1.0,NaN,0.0
17377,9502000,950,FJI,Fiji,2000,0,0.0,-88,-88,-88,...,-88.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0
17378,9502001,950,FJI,Fiji,2001,0,0.0,6,1,5,...,-88.0,11.0,2.0,2001.0,1.0,5.0,-1.0,1.0,NaN,0.0
17379,9502002,950,FJI,Fiji,2002,0,0.0,6,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17380,9502003,950,FJI,Fiji,2003,0,0.0,6,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17381,9502004,950,FJI,Fiji,2004,0,0.0,7,1,6,...,NaN,11.0,24.0,2004.0,1.0,6.0,1.0,1.0,NaN,0.0
17382,9502005,950,FJI,Fiji,2005,0,0.0,7,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17383,9502006,950,FJI,Fiji,2006,0,0.0,0,3,-3,...,NaN,12.0,5.0,2006.0,1.0,-3.0,NaN,NaN,NaN,-2.0
17384,9502007,950,FJI,Fiji,2007,0,0.0,0,4,-4,...,-3.0,4.0,12.0,2007.0,1.0,-4.0,-10.0,1.0,NaN,-2.0
17385,9502008,950,FJI,Fiji,2008,0,0.0,0,4,-4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17386,9502009,950,FJI,Fiji,2009,0,0.0,0,4,-4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17387,9502010,950,FJI,Fiji,2010,0,0.0,0,4,-4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17388,9502011,950,FJI,Fiji,2011,0,0.0,0,4,-4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17389,9502012,950,FJI,Fiji,2012,0,0.0,0,4,-4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17390,9502013,950,FJI,Fiji,2013,0,0.0,0,4,-4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17391,9502014,950,FJI,Fiji,2014,1,0.0,3,1,2,...,NaN,9.0,22.0,2014.0,1.0,2.0,6.0,1.0,NaN,3.0
17392,9502015,950,FJI,Fiji,2015,1,0.0,3,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17393,9502016,950,FJI,Fiji,2016,1,0.0,3,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17394,9502017,950,FJI,Fiji,2017,1,0.0,3,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# Create a dictionary for all Eastern European blocs, which specifies which bloc / country_id to use in each year
# All former Soviet states are treated as part of the Russian empire from 1900 to 1921, and the Soviet Union from 1922 to 1989 
polity_bloc_dict = {364:{1900:365}, # USSR
                      371:{1900:365,1922:364}, # Armenia
                      373:{1900:365,1922:364}, # Azerbaijan
                      370:{1900:365,1922:364}, # Belarus
                      366:{1900:365,1922:364}, # Estonia
                      372:{1900:365,1922:364}, # Georgia
                      705:{1900:365,1922:364}, # Kazakhstan
                      703:{1900:365,1922:364}, # Kyrgyzstan
                      367:{1900:365,1922:364}, # Latvia
                      368:{1900:365,1922:364}, # Lithuania
                      359:{1900:365,1922:364}, # Moldova
                      365:{1922:364}, # Russia
                      702:{1900:365,1922:364}, # Tajikstan
                      701:{1900:365,1922:364}, # Turkmenistan
                      369:{1900:365,1922:364}, # Ukraine
                      704:{1900:365,1922:364}, # Uzbekistan
                      346:{1900:342,1921:345}, # Bosnia
                      344:{1900:342,1921:345}, # Croatia
                      343:{1900:342,1921:345}, # Macedonia
                      348:{1900:342,1921:345,1991:347}, # Montenegro
                      342:{1921:345,1991:347}, # Serbia
                      349:{1900:342,1921:345}, # Slovenia
                      316:{1918:315}, # Czech Republic
                      317:{1918:315}, # Slovakia
                      }

In [22]:
# Function that generates a Polity score for each country in each year
def get_country_historical_democracy_scores(code):
    
    # Get all gwn_ids for the Maddison country code (some Maddison codes have multiple COW states)
    country_gwn_ids = list(country_converter_df[country_converter_df["participant_maddison_code"]==code]["gwn_id"]) 
    country_gwn_ids_years_democracy_scores_list = []
    
    # Loop through each gwn_id
    for i in country_gwn_ids:
        country_years_democracy_scores_list = []
        alternative_country_gwn_id = None # For countries that were part of historical blocs in polity_bloc_dict
        country_last_democracy_score = None # For interregnum years with no polity score
        
        # Loop through all years from 1900 to 2017
        for y in years:
            country_democracy_score = None # The default value if a country has never previously had a polity2 score
            
            # Find democracy score for gwn_id and year
            try:
                country_year_row = polity_df[(polity_df["ccode"]==i) & (polity_df["year"]==y)].iloc[0]
                
                # If the country has a democracy score or -88 code (signalling transition), use its polity2 score
                if country_year_row["democ"] >= 0 or country_year_row["democ"] <= -88:
                    country_democracy_score = country_year_row["polity2"]
                    country_last_democracy_score = country_democracy_score # Assign this polity2 score as the last year before an interregnum
                else:
                    # If the country has a -66 or -77 code, signalling interruption or interregnum, use its last polity 2 score
                    country_democracy_score = country_last_democracy_score
                    
            except Exception:
                
                # If the gwn_id for the country has no Polity rows, try searching for rows of any bloc that it belongs to
                try:
                    
                    # If polity_bloc_dict contains the country, loop through all of its start years
                    for k,v in polity_bloc_dict[i].items():
                        
                        # Check if the relevant year on the 1900 to 2017 loop is greater than the start year in the dictionary 
                        if y >= k:
                            
                            # If so, use the bloc's gwn_id instead of the country's gwn_id
                            alternative_country_gwn_id = v
                    
                    # Find the relevant year for the bloc in polity_df
                    country_year_row = polity_df[(polity_df["ccode"]==alternative_country_gwn_id) & (polity_df["year"]==y)].iloc[0]
                    
                    # If the bloc has a democracy score or -88 code (signalling transition), use its polity2 score
                    if country_year_row["democ"] >= 0 or country_year_row["democ"] <= -88:
                        country_democracy_score = country_year_row["polity2"]
                        country_last_democracy_score = country_democracy_score # Assign this polity2 score as the last year before an interregnum
                    else:
                        # If the bloc has a -66 or -77 code, signalling interruption or interregnum, use its last polity 2 score
                        country_democracy_score = country_last_democracy_score
                        
                except Exception:
                    pass
                pass
            
            country_years_democracy_scores_list.append(country_democracy_score) # Add the year's polity2 score to the gwn_id's list
        
        # If a country has multiple gwn_ids, add the polity2 scores for all of those to the list of lists
        country_gwn_ids_years_democracy_scores_list.append(country_years_democracy_scores_list) 
    
    # Concatenate all gwn-id scores into a dataframe, and then take the annual average across gwn-ids (for use in some blocs, like Vietnam)
    country_gwn_ids_years_democracy_scores_df = pd.DataFrame(country_gwn_ids_years_democracy_scores_list).T
    country_gwn_ids_years_democracy_scores = list(country_gwn_ids_years_democracy_scores_df.apply(lambda x:np.mean(x),axis=1))
    
    # Add a -11 polity score for countries that have no data in a given year (usually colonies)
    country_gwn_ids_years_democracy_scores = [-11 if not s >= -10 else s for s in country_gwn_ids_years_democracy_scores]
    
    return country_gwn_ids_years_democracy_scores

In [23]:
# Apply this function to all countries in maddison_country_years_df
country_democracy_scores = []
for c in tqdm_notebook(list(maddison_country_years_df["maddison_code"].unique())):
    country_democracy_scores = country_democracy_scores + get_country_historical_democracy_scores(c)

In [24]:
# Append these scores as a column to maddison_country_years_df
maddison_country_years_df["country_democracy_scores"] = country_democracy_scores

## Step 5: tidy up blocs and export data ##

In [25]:
# For countries that split or merge over the period, keep only the relevant rows
# Soviet states are treated as part of the Russian Empire / Soviet Union from 1900 to 1990
# Yugoslav states are treated as part of Yugoslavia from 1900 to 1990
# Czechoslovak states are treated as part of Czechoslovakia from 1900 to 1992
# Germany, Vietnam and Yemen are treated as their dual parts for the relevant years
year_bloc_dict = {"SUN":{"start_year":1900,"end_year":1990}, # Soviet Union
                  "ARM":{"start_year":1991,"end_year":2017}, # Armenia
                  "AZE":{"start_year":1991,"end_year":2017}, # Azerbaijan
                  "BLR":{"start_year":1991,"end_year":2017}, # Belarus
                  "EST":{"start_year":1991,"end_year":2017}, # Estonia
                  "GEO":{"start_year":1991,"end_year":2017}, # Georgia
                  "KAZ":{"start_year":1991,"end_year":2017}, # Kazakhstan
                  "KGZ":{"start_year":1991,"end_year":2017}, # Kyrgyzstan
                  "LVA":{"start_year":1991,"end_year":2017}, # Latvia
                  "LTU":{"start_year":1991,"end_year":2017}, # Lithuania
                  "MDA":{"start_year":1991,"end_year":2017}, # Moldova
                  "RUS":{"start_year":1991,"end_year":2017}, # Russia
                  "TJK":{"start_year":1991,"end_year":2017}, # Tajikistan
                  "TKM":{"start_year":1991,"end_year":2017}, # Turkmenistan
                  "UKR":{"start_year":1991,"end_year":2017}, # Ukraine
                  "UZB":{"start_year":1991,"end_year":2017}, # Uzbekistan
                  "YUG":{"start_year":1900,"end_year":1990}, # Yugoslavia
                  "BIH":{"start_year":1991,"end_year":2017}, # Bosnia
                  "HRV":{"start_year":1991,"end_year":2017}, # Croatia
                  "MKD":{"start_year":1991,"end_year":2017}, # Macedonia
                  "MNE":{"start_year":1991,"end_year":2017}, # Montenegro
                  "SRB":{"start_year":1991,"end_year":2017}, # Serbia
                  "SVN":{"start_year":1991,"end_year":2017}, # Slovenia
                  "CSK":{"start_year":1900,"end_year":1992}, # Czechoslovakia
                  "CZE":{"start_year":1993,"end_year":2017}, # Czech Republic
                  "SVK":{"start_year":1993,"end_year":2017}, # Slovakia
                  "GDR":{"start_year":1946,"end_year":1989}, # East Germany
                  "GFR":{"start_year":1946,"end_year":1989}, # West Germany
                  "DRV":{"start_year":1955,"end_year":1975}, # North Vietnam
                  "RVN":{"start_year":1955,"end_year":1975}, # South Vietnam
                  "YAR":{"start_year":1900,"end_year":1989}, # North Yemen
                  "YPR":{"start_year":1900,"end_year":1989}, # South Yemen
                  "YEM":{"start_year":1990,"end_year":2017} # Yemen
}

In [26]:
# Loop through year_bloc_dict, and drop rows from maddison_country_years_df in which countries were part of a different bloc
for k,v in year_bloc_dict.items():
    maddison_country_years_df = maddison_country_years_df[~((maddison_country_years_df["maddison_code"]==k) & ((maddison_country_years_df["year"] < v["start_year"]) | (maddison_country_years_df["year"] > v["end_year"])))]

In [27]:
# Identify countries in the Maddison data that have no Polity scores at all
polity_no_data_list = ["BRB", # Barbados 
 "DMA", # Dominica
 "HKG", # Hong Kong
 "ISL", # Iceland
 "LCA", # Saint Lucia
 "MLT", # Malta
 "PRI", # Puerto Rico
 "PSE", # Palestine
 "STP", # Sao Tome and Principe
 "SYC", # Seychelles
]

In [28]:
# Drop those countries from maddison_country_years_df
maddison_country_years_df = maddison_country_years_df[~maddison_country_years_df["maddison_code"].isin(polity_no_data_list)]

In [29]:
# Drop unified Vietnam and Germany from maddison_country_years_df in the years in which they were divided
maddison_country_years_df = maddison_country_years_df[~((maddison_country_years_df["maddison_code"]=="DEU") & (maddison_country_years_df["year"]>=1946) & (maddison_country_years_df["year"]<=1989))]
maddison_country_years_df = maddison_country_years_df[~((maddison_country_years_df["maddison_code"]=="VNM") & (maddison_country_years_df["year"]>=1955) & (maddison_country_years_df["year"]<=1975))]

In [30]:
maddison_country_years_df.reset_index(drop=True,inplace=True)
maddison_country_years_df

,maddison_code,country_name,country_region,year,population,gdp_per_capita,interpolated_gdp_per_capita,interpolated_population,country_year_conflict_deaths,country_year_conflict_death_rate,country_involved_in_conflict,country_democracy_scores
0,AFG,Afghanistan,Middle East,1900,NaN,NaN,1435.601006,4.883533e+06,0.0,0.000000,0,-6.0
1,AFG,Afghanistan,Middle East,1901,NaN,NaN,1454.728986,4.948646e+06,0.0,0.000000,0,-6.0
2,AFG,Afghanistan,Middle East,1902,NaN,NaN,1473.856966,5.013758e+06,0.0,0.000000,0,-6.0
3,AFG,Afghanistan,Middle East,1903,NaN,NaN,1492.984946,5.078871e+06,0.0,0.000000,0,-6.0
4,AFG,Afghanistan,Middle East,1904,NaN,NaN,1512.112925,5.143984e+06,0.0,0.000000,0,-6.0
5,AFG,Afghanistan,Middle East,1905,NaN,NaN,1531.240905,5.209097e+06,0.0,0.000000,0,-6.0
6,AFG,Afghanistan,Middle East,1906,NaN,NaN,1550.368885,5.274210e+06,0.0,0.000000,0,-6.0
7,AFG,Afghanistan,Middle East,1907,NaN,NaN,1569.496865,5.339323e+06,0.0,0.000000,0,-6.0
8,AFG,Afghanistan,Middle East,1908,NaN,NaN,1588.624845,5.404436e+06,0.0,0.000000,0,-6.0
9,AFG,Afghanistan,Middle East,1909,NaN,NaN,1607.752825,5.469549e+06,0.0,0.000000,0,-6.0
10,AFG,Afghanistan,Middle East,1910,NaN,NaN,1626.880805,5.534661e+06,0.0,0.000000,0,-6.0
11,AFG,Afghanistan,Middle East,1911,NaN,NaN,1646.008785,5.599774e+06,0.0,0.000000,0,-6.0
12,AFG,Afghanistan,Middle East,1912,NaN,NaN,1665.136764,5.664887e+06,0.0,0.000000,0,-6.0
13,AFG,Afghanistan,Middle East,1913,5730000.0,NaN,1684.264744,5.730000e+06,0.0,0.000000,0,-6.0
14,AFG,Afghanistan,Middle East,1914,NaN,NaN,1703.392724,5.795405e+06,0.0,0.000000,0,-6.0
15,AFG,Afghanistan,Middle East,1915,NaN,NaN,1722.520704,5.860811e+06,0.0,0.000000,0,-6.0
16,AFG,Afghanistan,Middle East,1916,NaN,NaN,1741.648684,5.926216e+06,0.0,0.000000,0,-6.0
17,AFG,Afghanistan,Middle East,1917,NaN,NaN,1760.776664,5.991622e+06,0.0,0.000000,0,-6.0
18,AFG,Afghanistan,Middle East,1918,NaN,NaN,1779.904644,6.057027e+06,0.0,0.000000,0,-6.0
19,AFG,Afghanistan,Middle East,1919,NaN,NaN,1799.032624,6.122432e+06,1000.0,0.000163,1,-6.0
20,AFG,Afghanistan,Middle East,1920,NaN,NaN,1818.160604,6.187838e+06,0.0,0.000000,0,-6.0
21,AFG,Afghanistan,Middle East,1921,NaN,NaN,1837.288583,6.253243e+06,0.0,0.000000,0,-6.0
22,AFG,Afghanistan,Middle East,1922,NaN,NaN,1856.416563,6.318649e+06,0.0,0.000000,0,-6.0
23,AFG,Afghanistan,Middle East,1923,NaN,NaN,1875.544543,6.384054e+06,0.0,0.000000,0,-6.0
24,AFG,Afghanistan,Middle East,1924,NaN,NaN,1894.672523,6.449459e+06,750.0,0.000116,1,-6.0
25,AFG,Afghanistan,Middle East,1925,NaN,NaN,1913.800503,6.514865e+06,750.0,0.000115,1,-6.0
26,AFG,Afghanistan,Middle East,1926,NaN,NaN,1932.928483,6.580270e+06,0.0,0.000000,0,-6.0
27,AFG,Afghanistan,Middle East,1927,NaN,NaN,1952.056463,6.645676e+06,0.0,0.000000,0,-6.0
28,AFG,Afghanistan,Middle East,1928,NaN,NaN,1971.184443,6.711081e+06,9375.0,0.001397,1,-6.0
29,AFG,Afghanistan,Middle East,1929,NaN,NaN,1990.312422,6.776486e+06,9375.0,0.001383,1,-6.0
...,...,...,...,...,...,...,...,...,...,...,...,...
17065,YPR,Yemen (South),Middle East,1960,1174400.0,1116.0,1116.000000,1.174400e+06,0.0,0.000000,0,-11.0
17066,YPR,Yemen (South),Middle East,1961,1198800.0,1122.0,1122.000000,1.198800e+06,0.0,0.000000,0,-11.0
17067,YPR,Yemen (South),Middle East,1962,1224000.0,1129.0,1129.000000,1.224000e+06,0.0,0.000000,0,-11.0
17068,YPR,Yemen (South),Middle East,1963,1249600.0,1139.0,1139.000000,1.249600e+06,0.0,0.000000,0,-11.0
17069,YPR,Yemen (South),Middle East,1964,1275600.0,1145.0,1145.000000,1.275600e+06,0.0,0.000000,0,-11.0
17070,YPR,Yemen (South),Middle East,1965,1302000.0,1153.0,1153.000000,1.302000e+06,0.0,0.000000,0,-11.0
17071,YPR,Yemen (South),Middle East,1966,1325000.0,1166.0,1166.000000,1.325000e+06,0.0,0.000000,0,-11.0
17072,YPR,Yemen (South),Middle East,1967,1348200.0,1180.0,1180.000000,1.348200e+06,0.0,0.000000,0,-5.0
17073,YPR,Yemen (South),Middle East,1968,1371800.0,1190.0,1190.000000,1.371800e+06,0.0,0.000000,0,-5.0
17074,YPR,Yemen (South),Middle East,1969,1395600.0,1204.0,1204.000000,1.395600e+06,0.0,0.000000,0,-5.0
17075,YPR,Yemen (South),Middle East,1970,1419600.0,1424.0,1424.000000,1.419600e+06,0.0,0.000000,0,-6.0
17076,YPR,Yemen (South),Middle East,1971,1450200.0,1637.0,1637.000000,1.450200e+06,0.0,0.000000,0,-6.0
17077,YPR,Yemen (South),Middle East,1972,1481400.0,1730.0,1730.000000,1.481400e+06,0.0,0.000000,0,-6.0
17078,YPR,Yemen (South),Middle East,1973,1516000.0,1899.0,1899.000000,1.516000e+06,0.0,0.000000,0,-6.0
17079,YPR,Yemen (South),Middle East,1974,1551000.0,1963.0,1963.000000,1.551000e+06,0.0,0.000000,0,-7.0
17080,YPR,Yemen (South),Middle East,1975,1586800.0,2065.0,2065.000000,1.586800e+06,0.0,0.000000,0,-7.0
17081,YPR,Yemen (South),Middle East,1976,1634200.0,2318.0,2318.000000,1.634200e+06,0.0,0.000000,0,-7.0
17082,YPR,Yemen (South),Middle East,1977,1680800.0,2503.0,2503.000000,1.680800e+06,0.0,0.000000,0,-7.0
17083,YPR,Yemen (South),Middle East,1978,1728200.0,2641.0,2641.000000,1.728200e+06,0.0,0.000000,0,-8.0
17084,YPR,Yemen (South),Middle East,1979,1776600.0,2711.0,2711.000000,1.776600e+06,0.0,0.000000,0,-8.0
17085,YPR,Yemen (South),Middle East,1980,1826600.0,2652.0,2652.000000,1.826600e+06,0.0,0.000000,0,-8.0
17086,YPR,Yemen (South),Middle East,1981,1878000.0,2736.0,2736.000000,1.878000e+06,0.0,0.000000,0,-8.0
17087,YPR,Yemen (South),Middle East,1982,1931600.0,2705.0,2705.000000,1.931600e+06,0.0,0.000000,0,-8.0
17088,YPR,Yemen (South),Middle East,1983,1987200.0,2779.0,2779.000000,1.987200e+06,0.0,0.000000,0,-8.0
17089,YPR,Yemen (South),Middle East,1984,2045800.0,2804.0,2804.000000,2.045800e+06,0.0,0.000000,0,-8.0
17090,YPR,Yemen (South),Middle East,1985,2108000.0,2700.0,2700.000000,2.108000e+06,0.0,0.000000,0,-8.0
17091,YPR,Yemen (South),Middle East,1986,2174000.0,2675.0,2675.000000,2.174000e+06,11500.0,0.005290,1,-7.0
17092,YPR,Yemen (South),Middle East,1987,2243800.0,2697.0,2697.000000,2.243800e+06,0.0,0.000000,0,-7.0
17093,YPR,Yemen (South),Middle East,1988,2318200.0,2722.0,2722.000000,2.318200e+06,0.0,0.000000,0,-7.0
17094,YPR,Yemen (South),Middle East,1989,2397200.0,2724.0,2724.000000,2.397200e+06,0.0,0.000000,0,-7.0

In [31]:
maddison_country_years_df.to_csv("output_data/maddison_and_polity_country_years_df.csv")